extends ../shared/layout

block main-content
    include ../shared/mixins/form_group_input.jade
    include ../shared/mixins/form_group_select.jade
    form(method="post" action='/blogs' class="form-horizontal well")
        fieldset
            +formGroupInput('title', 'title', 'Title', true)
            +formGroupInput('content', 'description', 'Description', true)

            .col-lg-10.col-lg-offset-2
                input(type="submit" class="btn btn-lg" value="Create")
