extends ../shared/layout

block main-content
    .row 
        p Title: #{blog.title}
        p Location: #{blog.content}
        //-p Creator:  #{event.user.username}
        //-p User stats: #{event.user.eventPoints}

